In [2]:
import pandas as pd
import matplotlib.pyplot as plt

movie_data = pd.read_csv("movies.csv")
movie_data

,Movie Title,Runtime,Genre,Award Wins,Award Nominations,Box Office
0,Argo,120,"Biography, Drama, Thriller",95,156,136025503
1,Parasite,132,"Drama, Thriller",308,271,53369749

a) What was the runtime for each movie?

In [21]:
movie_unique = movie_data.drop_duplicates()
movie_unique.iloc[:,0:2]

  Movie Title  Runtime
0        Argo      120
1    Parasite      132